mod
tmp
.DS_Store
node_modules
code/**.js
package-lock.json
app.json
logs/*
data/*
apps/*
/build
/standalone.gcode
/web/obj/**
!/web/obj/cube.stl
!/web/obj/donug.stl
!/web/obj/meta-corner-1.stl
!/web/obj/meta-corner-2.stl
!/web/obj/meta-corner-3.stl
!/web/obj/meta-corner-4.stl
!/web/obj/poussin.stl
/code/module.js
/code/test.js
.vscode